*{
    margin:0;
    padding:0;
}
.main-box{
    background: url("/assets/bg.jpg") right no-repeat;
    background-size: cover;
    height:100vh;
    width:100%;

}
a, i{
    text-decoration: none;
    color:rgb(189, 189, 202);
}
li{
    list-style: none;
}
.footer{
    display:flex;
    gap:20px;
    padding:40px 40px 20px 40px;
    align-items: center;
    justify-content: space-evenly;
    bottom:20px;
}
.footer i:hover, .main-section i:hover{
color:white;
cursor:pointer;
}
.side-bar{
    height:100vh;
    width:280px;
    left:-280px;
    background-color: rgba(255,255,255,0.1);
    box-shadow:0 8px 10px 0 rgba(255,255,255,0.5);
    position:fixed;
}
.logo{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 20px 20px 50px;
    box-shadow:0 5px 5px 0 rgba(255,255,255,0.5);
}
.logo a{
    font-size: 25px;
}
.content-section{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-section{

    position:relative;
}
.main-section i{
    padding-right:10px;
    gap:20px;
}
.main-section li{
    margin-top:8px;
    padding:14px 20px;
}
.main-section li:hover{
    box-shadow: 1.5px 1.5px 2px 1.5px rgba(255,255,255,0.5);
}
#check{
    display:none;
}
.btn1{
    position:absolute;
    font-size: 30px;
    left:20px;
    line-height:60px;

}
.btn2{
    position:absolute;
    font-size: 30px;
    left:240px;
    line-height:60px;
    cursor:pointer;
}
.btn1 i:hover{
    cursor:pointer;
}
#check:checked ~ .side-bar{
left:0;
}
#check:checked ~ .btn1{
    opacity:0;
}
#check:checked ~ .btn2{
    opacity:1;
}
